{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'index.css' %}">
  <title>Tech | Área de membros</title>
</head>
<body>
  <header>
    <img src="{% static 'assets/member.jpeg' %}" alt="Imagens de pessoas felizes em um local externo ao sol." class="logo">
  </header>
  <main>
    <h1>Área para membros do Tech</h1>
    <p>Somente para usuários registrados e logados no tech</p>
  </main>
</body>
</html>